@page
@model WebApplication3.Pages.errors.LockoutModel
@{
    Layout = "~/Pages/Shared/_LayoutEmpty.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    @*    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>*@

    <!-- Custom fonts for this template-->
@*    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet">*@

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/css/lockout.css" asp-append-version="true" />

</head>

<body>
    <section class="notFound">
        <div class="img">
            <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly" />
        </div>
        <div class="text">
            <h1>LOCKED OUT</h1>
            <h2>You have been locked out</h2>
        </div>
    </section>
</body>
</html>