@page
@model WebApplication3.Pages.ChangePasswordModel
@{
}
<div class="col-sm-12 col-md-12 col-lg-4">
	<h1 class="mb-3">Change Password</h1>

	<form method="post">

		<div class="mb-3">
			<label class="form-label" asp-for="CPModel.OldPassword">Enter Current Password</label>
			<input type="password" asp-for="CPModel.OldPassword" class="form-control" required />
			<span asp-validaton-for="CPModel.OldPassword" class="text-danger"></span>

		</div>
		<div class="mb-3">
					<label class="form-label" asp-for="CPModel.Password">Password</label>
					<input type="password" asp-for="CPModel.Password" class="form-control" id="Password"/>
					<span asp-validaton-for="CPModel.Password" class="text-danger"></span>
@*					<div id="pswd_info">
						<h5 id="header">Password requirements:</h5>
						<ul>
							<li id="letter" class="fa-warning"> At least <strong>one letter</strong></li>
							<li id="capital"> At least <strong>one capital letter</strong></li>
							<li id="number"> At least <strong>one number</strong></li>
							<li id="special"> At least <strong>one special character</strong></li>
							<li id="length"> Be at least <strong>12 characters</strong></li>
							<li id="password"> Must contains at least <strong>12 characters</strong>, specials chars (#$!...) and numbers</li>
						</ul>
					</div>*@
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="CPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="CPModel.ConfirmPassword" class="text-danger"></span>
				</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>


@*<body>
    <div class="container mt-5">

	    <div class="row justify-content-center align-items-center">

		    <h1 class="mb-3">Login </h1>

		    <form method="post">

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Password"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Password" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="NewPassword"></label>
                    <div class="col-sm-10">
                        <input type="text" id="Password" class="form-control" asp-for="NewPassword" />
                        <meter max="4" id="newpassword-strength-meter"></meter>
                        <p id="newpassword-strength-text"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="ConfirmNewPassword"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="ConfirmNewPassword" />
                    </div>
                </div>

                <div>
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
		    </form>
	    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
        var newpassword = document.getElementById('NewPassword');
        var meter2 = document.getElementById('newpassword-strength-meter');
        var text3 = document.getElementById('newpassword-strength-text');

            newpassword.addEventListener('input', function () {
                var val = newpassword.value;
                var result = zxcvbn(val);

                //console.log(val)

                var bool = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{12,}$/.test(val)

                //console.log(bool
                // Update the password strength meter
                meter2.value = result.score;

                // Update the text indicator
                if (bool == true) {
                    text3.innerHTML = "Password meets the requirements";
                }
                else if (bool == false) {
                    text3.innerHTML = "Password does not meet the requirements"
                }
            });

            //$("#NewPassword").on("input", function(){
            //    var bool = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{12,}$/.test(#("#NewPassword").val())
            //    if(bool == true){
            //        text3.innerHTML = "Password meets the requirements";
            //    }
            //    else{
            //        text3.innerHTML = "Password does not meet the requirements"
            //    }
            //})
        </script>
    }*@