@page
@model WebApplication3.Pages.ForgetPasswordEmailModel
@{
}

<div class="col-sm-12 col-md-12 col-lg-4">
    <h1 class="mb-3">Forget Password</h1>

    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Email">Enter Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validaton-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Send Reset Password</button>
        </div>
    </form>
    </div>