@page
@model WebApplication3.Pages.Shared.ForgetPasswordModel
@{
}
<div class="col-sm-12 col-md-12 col-lg-4">
	<h1 class="mb-3">Reset Password</h1>

	<form method="post">
		<div class="mb-3">
					<label class="form-label" asp-for="FPModel.Password">Password</label>
					<input type="password" asp-for="FPModel.Password" class="form-control" id="Password"/>
					<span asp-validaton-for="FPModel.Password" class="text-danger"></span>
					<div id="pswd_info">
						<h5 id="header">Password requirements:</h5>
						<ul>
							<li id="letter" class="fa-warning"> At least <strong>one letter</strong></li>
							<li id="capital"> At least <strong>one capital letter</strong></li>
							<li id="number"> At least <strong>one number</strong></li>
							<li id="special"> At least <strong>one special character</strong></li>
							<li id="length"> Be at least <strong>12 characters</strong></li>
							<li id="password"> Must contains at least <strong>12 characters</strong>, specials chars (#$!...) and numbers</li>
						</ul>
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="FPModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="FPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="FPModel.ConfirmPassword" class="text-danger"></span>
				</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>